<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="comment">

	<!-- 댓글쓰기 -->
	<insert id="insertComment" parameterType="Comment">
		INSERT INTO commentLog (courseNum, userNum, contents)
		VALUES (#{courseNum}, #{userNum}, #{contents})
   </insert>

	<!-- 댓글삭제 -->
	<update id="deleteComment" parameterType="int">
		UPDATE commentLog 
		SET isDelete = 'Y', deleteDate = NOW() 
		WHERE commentNum = #{commentNum}
	</update>
			
	<!-- 댓글수정 -->
	<update id="updateComment" parameterType="Comment">
		UPDATE commentLog
    	SET contents = #{contents}
		WHERE commentNum = #{commentNum}
	</update>
	
	<!-- 댓글리스트 -->
	<!-- <select id="commentList" parameterType="Comment" resultType="Comment">
		SELECT *
  		FROM commentLog
  		WHERE isDelete != 'Y' AND courseNum=#{courseNum}
	</select>  -->
	
	<select id="commentList" resultType="Comment">
        SELECT commentLog.commentNum,
   			   commentLog.courseNum,
   			   user.userNickname,
   			   commentLog.contents,
    		   commentLog.contentsDate,
    		   commentLog.isDelete,
   			   commentLog.deleteDate,
   			   commentLog.userNum
        FROM commentLog
        JOIN user ON commentLog.userNum = user.userNum
        WHERE isDelete != 'Y' AND courseNum=#{courseNum}
    </select>
	
	
</mapper>