<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="courseBoard">

	<!-- 글목록 불러오기 -->
	<select id="courseBoardList" resultType="courseBoard">
        SELECT courseNum, courseTitle, courseContents, courseLike
		FROM courseBoard 
        WHERE travelStatus = 'Y'
    </select>
    
    <insert id="insertCourse" parameterType="courseBoard">
        INSERT INTO courseBoard(userNum,courseTitle,courseContents) VALUES(#{userNum},#{courseTitle},#{courseContents})
    </insert>
	
	
</mapper>