<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="courseBoard">

	<!-- 좋아요 순으로 글 불러오기 -->
	<select id="likeList" resultType="courseBoard">
		SELECT * FROM courseBoard
		WHERE travelStatus = 'Y'
		ORDER BY courseLike DESC;
	</select>
	
	<!-- 글목록 불러오기 -->
	<select id="courseBoardList" resultType="courseBoard">
        SELECT *
		FROM courseBoard 
        WHERE travelStatus = 'Y'
    </select>
    
    <insert id="insertCourse" parameterType="courseBoard">
        INSERT INTO courseBoard(userNum,courseTitle,courseContents) VALUES(#{userNum},#{courseTitle},#{courseContents})
    </insert>
	
	<!-- 좋아요 증가 -->
	<insert id="plusLike" parameterType="int">
        UPDATE courseBoard SET courseLike=courseLike+1 WHERE courseNum=#{courseNum}
    </insert>
	
	<!-- 좋아요 감소 -->
	<insert id="deleteLike" parameterType="int">
        UPDATE courseBoard SET courseLike=courseLike-1 WHERE courseNum=#{courseNum}
    </insert>
	
	<!-- 글 조회 -->
	<select id="selectCourse" resultType="courseBoard">
        SELECT courseNum, courseTitle, courseContents, courseLike
		FROM courseBoard 
        WHERE courseTitle = #{courseTitle}
    </select>
    
	
</mapper>